<p id="notice"><%= notice %></p>

<style media="screen">
	img {
		max-width: 200px;
		max-height: 200PX;
	}
  
  <h1> <%= @article.title %></h1>
 <p>

 
  <%=  @article.image_url,align:'right' %>

   <%= @article.body %>


</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_article_path(@article) %> 
<% end %>

<%= link_to 'Back', articles_path %>
