<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <nav class= "navbar navbar-default">
      <div class= "container-fluid">
        <div class="navbar-header">
          
         <a class="navbar-brand" href="<%= root_path %>">Wiki</a> 
        </div>
      <div class="collapse-navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in?%>
          <li><%= link_to 'New Article',new_article_path,class:'navbar-link'%></li>
          <li><%= link_to 'Sign out',destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in',new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    </nav>
    <div class= 'container'>
      <div class='col-lg-10-offset-2'>
      
    <%= yield %>
  </div></div>
  </body>
</html>
